@{
    ViewBag.Title = "ApplicantRegistration";
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes">
    <title>Applicant Registration</title>
</head>
<body style="background-image:url(../images/bg.jpg);">
    <h1 style="text-align:center;color:#ffd800;margin-top:35px;">Online Single Window System & Public Communication Platform</h1>
    <h2 style="text-align:center;color:#ffd800;">Gorakhpur Industrial Development Authority (GIDA)</h2>
    <main class="signin-wrapper">
        <div class="tab-content">
            <p class="text-center p-4x">
                <img src="~/Content/files/Gida-mainlogo.png" alt="logo" style="width: 160px;" />
            </p>
            <div class="tab-pane fade" id="signup">
                <form id="signupForm" action="" role="form">
                    <p class="lead">Applicant Registration</p>
                    <p class="text-muted"><strong>Enter your personal data</strong></p>
                    <div class="form-group has-feedback">
                        <div class="input-group input-group-in">
                            <span class="input-group-addon"><i class="icon-tag"></i></span>
                            <input name="fullName" id="fullName" class="form-control" placeholder="Full Name">
                            <span class="form-control-feedback"></span>
                        </div>
                    </div><!-- /.form-group -->
                    <div class="form-group has-feedback">
                        <div class="input-group input-group-in">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            <span class="form-control-feedback"></span>
                        </div>
                    </div><!-- /.form-group -->
                    <div class="form-group has-feedback">
                        <div class="input-group input-group-in">
                            <span class="input-group-addon"><i class="icon-key"></i></span>
                            <input name="contactno" id="contact" class="form-control" placeholder="Contact No.">
                            <span class="form-control-feedback"></span>
                        </div>
                    </div><!-- /.form-group -->
                    <div class="form-group has-feedback">
                        <div class="input-group input-group-in">
                            <span class="input-group-addon"><i class="icon-tag"></i></span>
                            <input name="FName" id="FName" class="form-control" placeholder="Father's Name">
                            <span class="form-control-feedback"></span>
                        </div>
                    </div><!-- /.form-group -->
                    <div class="form-group has-feedback">
                        <div class="input-group input-group-in">
                            <span class="input-group-addon" title="Adhaar Number"><i class="icon-key"></i></span>
                            <input name="Adhaar" id="Adhaar" class="form-control" placeholder="Adhaar No">
                            <span class="form-control-feedback"></span>
                        </div><!-- /input-group-in -->
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-label" style="margin-right:15px">Gender</label>
                        <div class="nice-radio nice-radio-inline">
                            <input type="radio" name="gender" id="genderMale" value="male" checked="checked">
                            <label for="genderMale">Male</label>
                        </div><!-- /.radio -->
                        <div class="nice-radio nice-radio-inline">
                            <input type="radio" name="gender" id="genderFemale" value="female">
                            <label for="genderFemale">Female</label>
                        </div><!-- /.radio -->
                    </div><!-- /.form-group -->

                    <hr>

                    <p class="text-muted"><strong>Enter your account data</strong></p>
                    <div class="form-group has-feedback">
                        <div class="input-group input-group-in">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input name="usrName" id="usrName" class="form-control" placeholder="Username">
                            <span class="form-control-feedback"></span>
                        </div>
                    </div><!-- /.form-group -->
                    <div class="form-group has-feedback">
                        <div class="input-group input-group-in">
                            <span class="input-group-addon"><i class="icon-key"></i></span>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                            <span class="form-control-feedback"></span>
                        </div>
                    </div><!-- /.form-group -->
                    <div class="form-group has-feedback">
                        <div class="input-group input-group-in">
                            <span class="input-group-addon"><i class="icon-check"></i></span>
                            <input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Enter Password Again">
                            <span class="form-control-feedback"></span>
                        </div>
                    </div><!-- /.form-group -->
                    <div class="form-group animated-hue clearfix">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Create account</button>
                        </div>
                        <div class="pull-left">
                            <a href="#signin" class="btn btn-default" data-toggle="tab">Signin</a>
                        </div>
                    </div><!-- /.form-group -->
                </form><!-- /#signupForm -->

                <hr>

                <p>By creating an account you agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></p>
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </main><!--/#wrapper-->
    <p class="signin-cr text-light">Copyright © Gorakhpur Industrial Development Authority,(GIDA) || All rights reserved.</p>


    <!-- VENDORS : jQuery & Bootstrap -->
    <script src="~/scripts/vendor.js"></script>
    <!-- END VENDORS -->
    <!-- DEPENDENCIES : Required plugins -->
    <script src="~/scripts/dependencies.js"></script>
    <!-- END DEPENDENCIES -->
    <!-- PLUGIN SETUPS: vendors & dependencies setups -->
    <script src="~/scripts/plugin-setups.js"></script>
    <!-- END PLUGIN SETUPS -->
    <!-- Google Analytics: change UA-71722129-1 to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = '../../../../../www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-71722129-1'); ga('send', 'pageview');
    </script>
</body>
</html>
