
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="container" style="background:#eee;">
    <div class="row">
        <div class="col-xs-2">
            <br />
            <div class="region region-sidebar-left">


                <div id="block-block-80" class="block block-block">

                    @{
                        Html.RenderPartial("_LatestNotice");
                    }

                </div>
            </div>
            <br />
            <div id="mainleft">
                <!--<br />-->
                <div class="region region-side-featured2">

                    <!--<div id="block-block-90" class="block block-block">


                      <div class="content">
                        <div>
                    <p class="text-center"><img alt="औद्योगिक विकास निगम (आईडीसी)" class="img-responsive img-thumbnail" src="files/assets/ceo_sanjeev ranjan.jpg" width="75%" /></p>
                    <h5 class="text-center"><strong>आईडीसी, गोरखपुर</strong></h5>
                    <h6 class="text-center">औद्योगिक विकास निगम (आईडीसी)</h6>
                    </div>
                      </div>
                    </div>-->
                    <div id="block-block-5" class="block block-block">


                        <div class="content">
                            <p></p>
                            <p align="center"><a target="_blank" href="http://niveshmitra.up.nic.in/"><img width="100%" src="~/Content/files/assets/nm2.png" /></a></p>
                            <p align="center"><a target="_blank" href="http://www.udyogbandhu.com/"><img width="100%" src="~/Content/files/assets/udhyog.png" /></a></p>
                            <!--<p align="center"><a target="_blank" href="http://www.nvsp.in/"><img width="70%" src="files/assets/nvsplogo.png" /></a></p>-->
                            <p></p>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div id="mainmid" class="col-xs-8">
            <br />
            <h4 class="title text-primary">About GIDA (Gorakhpur Industrial Development Authority)</h4>
            <div class="tabs"> </div>
            <div class="region region-content">
                <div id="block-block-44" class="block block-block">


                    <div class="content">
                        <div class="row">
                            <h4 class="text-primary" style="font-weight:bold;text-align:center;"> Employee List of GIDA </h4>
                            <div id="featured">
                                <div class="col-sm-12" role="complementary">
                                    <table class="table table-striped table-hover table-bordered table-responsive">
                                        <tr>
                                            <td><p><strong>Name</strong></p></td>
                                            <td><p><strong>Designation</strong></p></td>
                                            <td><p><strong>Department</strong></p></td>
                                            <td><p><strong>Contact No.</strong></p></td>
                                            <td><p><strong>Email ID</strong></p></td>
                                        </tr>
                                        <tr>
                                            <td>Shri Pavan Agarwal, I.A.S.</td>
                                            <td>Chief Executive Officer (CEO)</td>
                                            <td>GIDA, Gorakhpur</td>
                                            <td>0551-2336004, 2336005 </td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Ravindra Yadav </td>
                                            <td>Special Duty Officer </td>
                                            <td> Administartion/ General </td>
                                            <td>+91 9953776511</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Ratnesh Kumar Singh</td>
                                            <td>General Manager </td>
                                            <td>Finance & Accounts </td>
                                            <td>+91  xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Nand Kishore Jaiswal</td>
                                            <td>Manager(General/Admin)</td>
                                            <td>Land Acquisition Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Ramendra Kushwaha</td>
                                            <td>Manager</td>
                                            <td>Administartion/ General</td>
                                            <td>+91 8765757197</td>
                                            <td></td>
                                        </tr>


                                        <tr>
                                            <td>Shri Ashok Kumar Upadhyay </td>
                                            <td>Law Officer </td>
                                            <td>Administartion/ General </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Brijesh Kumar </td>
                                            <td>Accountant </td>
                                            <td>Finance & Accounts </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Sanjay Kumar Dubey </td>
                                            <td>Assistant </td>
                                            <td>Land Acquisition Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Chet Ram </td>
                                            <td>Manager Civil </td>
                                            <td>Garden Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Sanjay Tiwari </td>
                                            <td>Manager Civil </td>
                                            <td>Planning Department  </td>
                                            <td>+91 9919619702</td>
                                            <td></td>
                                        </tr>


                                        <tr>
                                            <td>Shri Ramesh Ram </td>
                                            <td>Assistant </td>
                                            <td>Planning Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Brajesh Kumar Agrahari </td>
                                            <td>Assistant Manager </td>
                                            <td>Planning Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Shri Gyaneshwar Dayal Shukla </td>
                                            <td>Treasurer </td>
                                            <td>Planning Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shrimati Kiran Devi </td>
                                            <td>Junior Assistant </td>
                                            <td>Finance & Accounts </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Ramesh Prajapati </td>
                                            <td>Junior Assistant </td>
                                            <td>Finance & Accounts </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Vinod Dixit  </td>
                                            <td>Junior Assistant </td>
                                            <td>Establishment Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Anup Kumar Singh</td>
                                            <td>Personal Assistant </td>
                                            <td>Property Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Shri Anit Kumar Dixit </td>
                                            <td>Junior Assistant </td>
                                            <td>Property Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Shri Dushyant Kumar </td>
                                            <td>Junior Assistant</td>
                                            <td>Property Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Shri Shravan Kumar Singh </td>
                                            <td>Computer Operator </td>
                                            <td>Computer Department </td>
                                            <td>+91 8004293447</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Shri Ramesh Ram </td>
                                            <td>Assistant </td>
                                            <td>Illegal Department </td>
                                            <td>+91 xxxxxxxxxx</td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div id="block-system-main" class="block block-system">


                  <div class="content">
                    <div id="first-time"><p>No front page content has been created yet.</p></div>  </div>
                </div>-->

            </div>

            <!--<br /><br /><br />
            <!--<div class="hr"><hr /></div>--
            <br /><br /><br />-->
        </div>

        <div id="mainright" class="col-xs-2">
            <div id="rightsidebar">
                <br />
                <div class="region region-sidebar-right">


                    <div id="block-block-102" class="block block-block">


                        <div class="content">
                            <div style="margin-top:1em;margin-bottom:1em;">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">GIDA INDUSTRIAL GIS <em> </em></a></p>
                            </div>
                        </div>
                    </div>
                    <div id="block-block-100" class="block block-block">


                        <div class="content">
                            <div style="margin-top:1em;margin-bottom:1em;">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">ONLINE APPLICATION FOR<br /> INDUSTRIAL PLOT 2020<em> </em></a></p>
                            </div>
                        </div>
                    </div>
                    <div id="block-block-96" class="block block-block">


                        <div class="content">
                            <div style="margin-top:1em;margin-bottom:1em;">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">eAUCTION OF<br />COMMERCIAL PROPERTY </a></p>
                            </div>
                        </div>
                    </div>
                    <div id="block-block-98" class="block block-block">


                        <div class="content">
                            <div style="margin-top:1em;margin-bottom:1em;">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">GRIEVANCES REDRESSAL</a></p>
                            </div>
                        </div>
                    </div>
                    <div id="block-block-105" class="block block-block">


                        <div class="content">
                            <div style="margin-top:1em;margin-bottom:1em;">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">EASE OF DOING <br />BUSINESS</a></p>
                            </div>
                        </div>
                    </div>
                    <div id="block-block-103" class="block block-block">


                        <div class="content">
                            <div style="margin-top:1em;margin-bottom:1em;">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">ONLINE SERVICES<br />&amp; ONLINE PAYMENT </a></p>
                            </div>
                        </div>
                    </div>

                    <div id="block-block-43" class="block block-block">


                        <div class="content">
                            <div style="" margin-top:1em="">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">ACCOUNT STATUS &amp;<br /> ONLINE PAYMENTS</a></p>
                            </div>
                        </div>
                    </div>
                    <div id="block-block-108" class="block block-block">


                        <div class="content">
                            <div style="" margin-top:1em="">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">TENDER CORNER</a></p>
                            </div>
                        </div>
                    </div>
                    <div id="block-block-95" class="block block-block">


                        <div class="content">
                            <div style="margin-top:1em;margin-bottom:1em;">
                                <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">SOLID WASTE<br />MANAGEMENT </a></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

