
@{
    ViewBag.Title = "OrganizationChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" class="container" style="background:#eee;">
    <div class="row">
        <div class="col-xs-2">
            <br />
            <div class="region region-sidebar-left">


                <div id="block-block-80" class="block block-block">


                    <div class="content">
                        <div class="bg-info" style="border-radius:5px; padding:5px; padding-left:10px; margin-top:10px;">
                            <h5>Latest Notices:</h5>
                            <div id="ticker">
                                <div class="view view-ticker view-id-ticker view-display-id-block view-dom-id-19f9c2997472a49402257ef24b345023">



                                    <div class="view-content">
                                        <!-- start scroll -->
                                        <div class='view view-ticker'>
                                            <div class='view-content view-content-ticker'>
                                                <div id='views-ticker-vTicker-ticker'>
                                                    <ul id='vtick'>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Corrigendum No.1 &amp; Reply to Queries - RFP for Hiring a Consultant for Preparation of Master Plan 2041 for GIDA</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Jal Adalat Roster</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">ID and Password Information for Zoom Meeting</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Control Drawings for Commercial Plot No. 1, 2, 3 &amp; 4, Sector: Knowledge Park II (These documents are for reference only and are subject to approval)</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Expression of Interest (EOI) for Installation, Commissioning and Operations &amp; Management of Smart Water Meters in GIDA</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Corrigendum / Addendum Notice - 02 - Commercial Scheme</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Scheme Code ONLIND2020-01 - Scheme Document for Allotment Of Industrial Plots In GIDA 2020</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Proposed schedule for larvicide spray for month of November 2020</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Jal Adalat matters disposal list</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Staff for Jal Adalat</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Industry Draw Notice</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Jal Adalat Schedule</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">RFP for License Space for Nurseries in GIDA (Term - 5 years with provision of renewal for additional 3 years based on performance in 1-year increments) </a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Pre-bid joining details - RFP for Hiring a Consultant for Preparation of Master Plan 2041 for GIDA</a></span>  </div>
                                                        </li>
                                                        <li>
                                                            <div class="views-field views-field-title">        <span class="field-content"><a href="javascript:void(0);">Press Note dtd. 28.10.2020 regarding Jal Adalat etc.</a></span>  </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end scroll -->
                                    </div>






                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div id="mainleft">
                <!--<br />-->
                <div class="region region-side-featured2">

                    <!--<div id="block-block-90" class="block block-block">


                      <div class="content">
                        <div>
                    <p class="text-center"><img alt="औद्योगिक विकास निगम (आईडीसी)" class="img-responsive img-thumbnail" src="files/assets/ceo_sanjeev ranjan.jpg" width="75%" /></p>
                    <h5 class="text-center"><strong>आईडीसी, गोरखपुर</strong></h5>
                    <h6 class="text-center">औद्योगिक विकास निगम (आईडीसी)</h6>
                    </div>
                      </div>
                    </div>-->
                    <div id="block-block-5" class="block block-block">


                        <div class="content">
                            <p></p>
                            <p align="center"><a target="_blank" href="http://niveshmitra.up.nic.in/"><img width="100%" src="files/assets/nm2.png" /></a></p>
                            <p align="center"><a target="_blank" href="http://www.udyogbandhu.com/"><img width="100%" src="files/assets/udhyog.png" /></a></p>
                            <!--<p align="center"><a target="_blank" href="http://www.nvsp.in/"><img width="70%" src="files/assets/nvsplogo.png" /></a></p>-->
                            <p></p>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div id="mainmid" class="col-xs-8">
            <br />
            <!--<h4 class="title text-primary">About GIDA (Gorakhpur Industrial Development Authority)</h4>-->
            <div class="tabs"> </div>
            <div class="region region-content">
                <div id="block-block-44" class="block block-block">


                    <div class="content">
                        <div class="row">
                            <h4 class="text-primary" style="font-weight:bold;text-align:center;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Organization  Chart of GIDA </h4>
                            <div id="featured">
                                <div class="col-sm-12" role="complementary">
                                    <p class="text-center"><img alt="Organization chat of GIDA" src="files/assets/Org_Chart.png" width="120%" /></p>  <!--class="img-responsive img-thumbnail"-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div id="block-system-main" class="block block-system" >


                  <div class="content">
                    <div id="first-time"><p>No front page content has been created yet.</p></div>  </div>
                </div>-->

            </div>

            <!--<br /><br /><br />
            <!--<div class="hr"><hr /></div>--
            <br /><br /><br />-->
        </div>

        <div id="mainright" class="col-xs-2">
            <div id="rightsidebar">
                <br />
                <div class="region region-sidebar-right">
                    <!--<div id="block-block-72" class="block block-block">


                      <div class="content">
                        <div>
                    <p class="text-center"><img alt="श्री योगी आदित्यनाथ" class="img-responsive img-thumbnail" src="files/assets/adityayogi.jpg" width="75%" /></p>
                    <h5 class="text-center"><strong>श्री योगी आदित्यनाथ</strong></h5>
                    <h6 class="text-center">माननीय मुख्यमंत्री, उ० प्र०</h6>
                    </div>
                      </div>
                    </div>-->
                    <!--<div id="block-block-102" class="block block-block">


                      <div class="content">
                        <div style="margin-top:1em;margin-bottom:1em;">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">GIDA INDUSTRIAL GIS <em> </em></a></p>
                    </div>
                      </div>
                    </div>
                    <div id="block-block-100" class="block block-block">


                      <div class="content">
                        <div style="margin-top:1em;margin-bottom:1em;">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">ONLINE APPLICATION FOR<br/> INDUSTRIAL PLOT 2020<em> </em></a></p>
                    </div>
                      </div>
                    </div>
                    <div id="block-block-96" class="block block-block">


                      <div class="content">
                        <div style="margin-top:1em;margin-bottom:1em;">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">eAUCTION OF<br />COMMERCIAL PROPERTY </a></p>
                    </div>  </div>
                    </div>
                    <div id="block-block-98" class="block block-block">


                      <div class="content">
                        <div style="margin-top:1em;margin-bottom:1em;">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">GRIEVANCES REDRESSAL</a></p>
                    </div>
                      </div>
                    </div>
                    <div id="block-block-105" class="block block-block">


                      <div class="content">
                        <div style="margin-top:1em;margin-bottom:1em;">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">EASE OF DOING <br />BUSINESS</a></p>
                    </div>  </div>
                    </div>
                    <div id="block-block-103" class="block block-block">


                      <div class="content">
                        <div style="margin-top:1em;margin-bottom:1em;">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">ONLINE SERVICES<br />&amp; ONLINE PAYMENT </a></p>
                    </div>
                      </div>
                    </div>

                    <div id="block-block-43" class="block block-block">


                      <div class="content">
                        <div style="" margin-top:1em="">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">ACCOUNT STATUS &amp;<br /> ONLINE PAYMENTS</a></p>
                    </div>
                      </div>
                    </div>
                    <div id="block-block-108" class="block block-block">


                      <div class="content">
                        <div style="" margin-top:1em="">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">TENDER CORNER</a></p>
                    </div>
                      </div>
                    </div>
                    <div id="block-block-95" class="block block-block">


                      <div class="content">
                        <div style="margin-top:1em;margin-bottom:1em;">
                    <p align="center" id="linkcolor"><a class="btn btn-block btn-online" href="javascript:void(0);" target="_blank">SOLID WASTE<br />MANAGEMENT </a></p>
                    </div>
                      </div>
                    </div>-->
                </div>


            </div>
        </div>
    </div>
</div>

