
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}
<link href="~/styles/dashbaord.css" rel="stylesheet" />
<section class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">

                        <div class="panel-body">

                            <div class="row" style="height:260px">

                                <div class="col-md-12">
                                    <div>
                                        <center> <img src="~/Content/files/Gida-mainlogo.png" style="height:140px; width:210px" alt="Gorakhpur Industrial Development Authority (GIDA)" /> </center>
                                    </div>
                                    <div class="bod-title">
                                        <center>
                                            <h1>Welcome to</h1>
                                            <h2>Gorakhpur Industrial Development Authority (GIDA)</h2>
                                        </center>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>