
@{
    ViewBag.Title = "ViewAdvertisement";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<script src="~/Scripts/App/Masters/ApplicantPlotRegistration.js"></script>
<link href="~/styles/style.css" rel="stylesheet" />
<section class="form">
    <!-- MultiStep Form -->
    <div class="container-fluid" id="grad1">
        <div class="container">
            
            
                <div class="row justify-content-center mt-0" style="padding:30px 20px" id="divExitingPlotRegistration">
                    <div class="col-sm-12 col-xs-12">
                        <h2 style="padding:20px 0;">Advertisement Details</h2>
                        <table class="table table-bordered responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Scheme Name</th>
                                    <th>Advt. Number</th>
                                    <th>Advt. Date</th>
                                    <th>Last Date For Apply</th>
                                    <th>Layout Plan</th>
                                    <th>Checklist</th>
                                    <th>Instruction</th>
                                    <th>View Advertisement</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                
                                <tr>
                                    <th row-header="Table heading" scope="row">1</th>
                                    <td row-header="Table">Industrial Yojana 2021</td>
                                    <td row-header="Table heading">--</td>
                                    <td row-header="heading">15/01/2021</td>
                                    <td row-header="Table heading">10/02/2021</td>
                                    <td row-header="Table heading"><a target="_blank" href="~/Content/files/assets/BHITI_RAWAT_LAY_OUT.jpg">Layout Plan</a></td>
                                    <td row-header="Table heading"><a target="_blank" href="~/Content/files/pdf/CHECKLIST_INDUSTRIAL_ALLOTMENT2021.pdf">Checklist</a></a></td>
                                    <td row-header="Table heading"><a target="_blank" href="~/Content/files/pdf/terms_and_condition.pdf">Term & Condition</a></td>
                                    <td row-header="heading"><a target="_blank" href="~/Content/files/pdf/GIDA_Ad.pdf">Advertisement</a></td>
                                    <td row-header="Table heading"><a class="btn btn-primary" href="/Applicant/ApplicantDashboard">Apply</a>
                                    </td>
                                </tr>
                                    
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            

        </div>
    </div>
</section>


