
@{
    ViewBag.Title = "ApplicantFormSubmitted";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ApplicantFormSubmitted</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav li.active').removeClass('active');
        $('[href="/Admin/ApplicantFormSubmitted"]').parent().parent().parent().addClass('active')
    });
</script>