
@{
    ViewBag.Title = "GrievancesDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/styles/style.css" rel="stylesheet" />
<section class="form">
    <div class="container-fluid" id="" style="min-height:350px">
        <h2 style="text-align:center">Grievances Dashboard</h2>
    </div>
</section>
