
@{
    ViewBag.Title = "ApplicantDashboard";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<!--<h2 style="text-align:center">Applicant Dashboard</h2>-->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="container col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h4><strong>Apply for Industrial Plot Scheme 2021</strong></h4>
                <p>Fill all form field to go to next step</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li id="account"><strong>Plot Details</strong></li>
                                <li class="active" id="personal"><strong>Applicant Details</strong></li>
                                <li id="personal"><strong>Project Details</strong></li>
                                <li id="payment"><strong>Bank Details</strong></li>
                                <li id="confirm"><strong>Attachment Details</strong></li>
                            </ul> <!-- fieldsets -->
                            <!--<fieldset>
        <div class="form-card">
            <h2 class="fs-title">Step 1: Plot Details</h2>
            <div class="col-3"> <label class="pay">Applied For*</label> </div>
            <select class="list-dt" id="month" name="expmonth">
                <option selected>a.	Affected by land acquisition</option>
                <option>b.	Expansion by industrial already established in GIDA</option>
                <option>c.	General </option>
                <option>d.	Original land owner whose land has been acquired by GIDA</option>
                <option>e.	Industrial unit established outside GIDA</option>
                <option>f.	New or fresh applicant for industrial use in GIDA</option>
            </select>
            <hr />
            <input type="text" name="SchemeType" placeholder="Scheme Type" />
            <input type="text" name="SchemeName" placeholder="Scheme Name" />
            <input type="text" name="PlotRange" placeholder="Plot Range" />
            <input type="text" name="PlotArea" placeholder="Plot Area" />
            <input type="text" name="SectorName " placeholder="Sector Name" />
            <input type="text" name="EstimatedRate" placeholder="Estimated Rate/ SQM" />
            <input type="text" name="PaymentSchedule" placeholder="PaymentSchedule" />
            <input type="text" name="TotalInvestment" placeholder="Total Investment (In Rs)" />
            <input type="text" name="ApplicationFee" placeholder="Application Fee" />
            <input type="text" name="GST " placeholder="GST" />
            <input type="text" name="TotalFormFees" placeholder="Total Form Fees" />
            <input type="text" name="Earnest Money" placeholder="Earnest Money" />
            <input type="text" name="NetAmount " placeholder="Net Amount to be paid" />
        </div>
        <input type="button" name="next" class="next action-button" value="Save & Next" />
    </fieldset>-->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Applicant Personal Information</h2>
                                    <input type="text" name="Applicantname" placeholder="Full Name of Applicant" />
                                    <input type="text" name="FName" placeholder="Father's Name" />
                                    <input type="text" name="MName" placeholder="Mother's Name" />
                                    <input type="text" name="SName" placeholder="Spouce Name" />
                                    <input type="text" name="DOB" placeholder="Date of Birth" />
                                    <input type="text" name="Gender" placeholder="Gender" />
                                    <input type="text" name="Category" placeholder="Category" />
                                    <input type="text" name="Nationality" placeholder="Nationality" />
                                    <input type="text" name="AadharNo" placeholder="Aadhar Number" />
                                    <input type="text" name="PAN" placeholder="PAN" />
                                    <input type="number" name="Mobile" placeholder="Mobile Number" />
                                    <input type="number" name="Phone" placeholder="Phone Number" />
                                    <input type="email" name="Email" placeholder="Email Id" />
                                    <input type="text" name="Religion" placeholder="Religion" />
                                    <input type="text" name="SubCategory" placeholder="Sub Category" />
                                    <input type="text" name="CAddres" placeholder="Current Address" />
                                    <input type="text" name="PAddress" placeholder="Permanent Address" />
                                    
                                </div> 
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> 
                                <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Payment Information</h2>
                                    <div class="radio-group">
                                        <div class='radio' data-value="credit"><img src="https://i.imgur.com/XzOzVHZ.jpg" width="200px" height="100px"></div>
                                        <div class='radio' data-value="paypal"><img src="https://i.imgur.com/jXjwZlj.jpg" width="200px" height="100px"></div> <br>
                                    </div> <label class="pay">Card Holder Name*</label> <input type="text" name="holdername" placeholder="" />
                                    <div class="row">
                                        <div class="col-9"> <label class="pay">Card Number*</label> <input type="text" name="cardno" placeholder="" /> </div>
                                        <div class="col-3"> <label class="pay">CVC*</label> <input type="password" name="cvcpwd" placeholder="***" /> </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3"> <label class="pay">Expiry Date*</label> </div>
                                        <div class="col-9">
                                            <select class="list-dt" id="month" name="expmonth">
                                                <option selected>Month</option>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                            </select> <select class="list-dt" id="year" name="expyear">
                                                <option selected>Year</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="make_payment" class="next action-button" value="Confirm" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Signed Up</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

